<div class="container">
    <form action="/insertarCliente" method="get">
    <div class="row">
        <div class="col-auto">
            <input type="text" id="txtIdentificador" name="txtIdentificador" class="form-control"  placeholder="identificador">
        </div>
        <div class="col-auto">
            <input type="text" id="txtNombreDeCompania" name ="txtNombreDeCompania" class="form-control" placeholder="Nombre de Compañia" >
        </div>
        <div class="col-auto">
            <input type="text" id="txtNombreDeContacto"  name="txtNombreDeContacto" class="form-control"  placeholder="Nombre de Contacto">
        </div>
        <button type="submit" class=" btn btn-primary col-auto">Insertar {{ titulo}}</button>
        </div>
    </form>
</div>